@import './_variables.css';
@import './_base.css';
@import './_utility.css';

body {
  display: grid;
  place-items: center;
  height: 100vh;
}

.box {
  background: grey;
  height: 200px;
  width: 200px;
}
