@import './_variables.css';
@import './_base.css';
@import './_utility.css';

body {
  display: grid;
  gap: 20px;
  place-content: center;
  height: 100vh;
}

.box {
  width: 200px;
  height: 200px;
  background: hotpink;
}

.blue {
  background: skyblue;
}

.rotate {
  transform: rotate(45deg);
  transition: 1s;
}

.background {
  background: black;
  transition: 1s;
}

.transform {
  /* transition: transform 2.5s steps(5), background-color 0.6s ease-in-out; */
  border-radius: 50%;
  transition: 1s;
}
